.active{
    color: white !important;
    font-weight: 1000;
}

.marg{
    margin-left: 15px;
    color: grey;
}

.logOutButton{
background-color: #d15353;
font-weight: bold;
}

.user{
    color: red
}

